    <!-- 모달 창
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>결제 확인</h2>
            <p>총 주문 금액: {{ order_total_payment }}원</p>
            <p>총 입금 금액: {{ total_deposit }}원</p>
            <p>결제하시겠습니까?</p>
            <form method="post" action="{% url 'vending_app:ProductList' %}">
                {% csrf_token %}
                <button type="submit">결제하기</button>
            </form>
        </div>
    </div> -->


    <div class="lineBox">
        <span class="checkMulti">                        
            <span class="frmCheck"><input type="radio" id="card" name="payment_type" value="card" checked="checked"><label for="card">카드</label></span>
            <span class="frmCheck"><input type="radio" id="cash" name="payment_type" value="cash"><label for="cash">현금</label></span>
        </span>
    </div>
    <form id="paymentForm" method="post" action="{% url 'vending_app:process_payment' %}">
        {% csrf_token %}
        <div class="lineBox">
            <label for="cash_input_1000">1000원</label>
            <input type="number" id="cash_input_1000" name="cash_input_1000" min="0">
        </div>
        <div class="lineBox">
            <label for="cash_input_5000">5000원</label>
            <input type="number" id="cash_input_5000" name="cash_input_5000" min="0">
        </div>
        <div class="lineBox">
            <label for="cash_input_10000">10000원</label>
            <input type="number" id="cash_input_10000" name="cash_input_10000" min="0">
        </div>
        <div class="btnArea">
            <button type="submit" class="btnST btnL action">결제하기</button>
            <a href="{% url 'vending_app:view_cart' %}" class="btnST btnL other">장바구니로 가기</a>  
        </div>
    </form>