{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>영수증</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42764c1962.js" crossorigin="anonymous"></script>
  <link  href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'css/styles' %}" rel="stylesheet">
  <!-- <script src="{% static 'js/main.js' %}" defer></script> -->
</head>

<body>
  <img class="receipt_top" src="../../static/img/receipt.svg" alt="Hanyang" />
  <!-- Main Content -->
  <section class="main">
    <!-- Title -->
    <div class="title">Brain Wave</div>
    <!-- Add Items -->
    <!-- <div class="Hanyang_receipt"><img src="/static/img/Hanyang/Hanyang_receipt.png" alt="Hanyang Logo" style="max-width: 20%;max-height: 50%;padding-left: 380px;"></div> -->
    <div class="add">
      <div>
        <span><font size="6">영수증</font><img src="/static/img/Hanyang/Hanyang_receipt.png" alt="Hanyang Logo" style="max-width: 20%;max-height: 50%;padding-left: 380px;"></span>
      </div>
      <table class="tblForm" style="width: 100%;text-align: center;">
        <thead>
            <tr>
                <th scope="col">카테고리</th>
                <th scope="col">상품명</th>
                <th scope="col">구매가</th>
                <th scope="col">수량</th>
                <th scope="col">금액</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.product.product_flag }}</td>
                <td class="itmTarget">
                        <div class="cont"><strong class="tit">{{ order.product.product_name }}</strong></div>
                </td>
                <td>{{ order.product.product_price|intcomma }}원</td>
                <td>{{ order.order_qty }}</td>
                <td>{{ order.order_total_price|intcomma }}원</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
    </div>
    <br>
    <div class="horizontal-line"></div>
    <br>
    <div class="sum">
      <div class="sum_item">
        <div>합계:</div>
        <div class="sum_checked-price"> {{ order_total_payment|intcomma }} 원</div>
      </div>

      <div class="sum_item">
        <div>결제 방식</div>
        <div class="sum_unchecked-price">
          {% if payment_type == 'cash' %}
              현 금: {{ order_total_payment|intcomma }}원
          {% elif payment_type == 'card' %}
              카 드
          {% else %}
              결제정보없음
          {% endif %}
        </div>
      </div>

      <div class="sum_item">
        <div>거스름 돈: 
        </div>
        <div class="sum_total-price" style="text-align: right;">
          1000원 = <b id="change">{{ change_1000|intcomma }}</b>장<br>
          500원 = <b id="change"> {{ change_500|intcomma }}</b>개<br>
          100원 = <b id="change"> {{ change_100|intcomma }}</b>개
        </div>
      </div>
      <div class="PaymentTime">
        <div>거래일시: {{ receipt_datetime }}
        </div>
      </div>
    </div>
    <br><br>
    <div>
      <span><img src="/static/img/Hanyang/BrainwaveBarcode.png" alt="BrainwaveBarcode" ></span>
    </div>
  <div>

  </div>
  <a href="{% url 'vending_app:ProductList' %}" class="close"><img src="/static/icon/ico_close.png" alt="닫기" style="padding-left: 350px;padding-bottom: 20px;"></a>
  </section>
  <img class="receipt_bottom" src="../../static/img/receipt.svg" alt="receipt image" />
</body>
</html>
