{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/p_common_2.css' %}" rel="stylesheet">
    <link href="{% static 'css/TopNav.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles' %}" rel="stylesheet">
    <title>장바구니</title>
</head>
<body>
    <div class="headerArea">
        <div class="inner" style="padding-top: 0px;padding-bottom: 0px;"> 
            <div class="cartArea">
                <div class="cartArea" style="display: flex; align-items: center;">
                    <div>
                        <h3 class="titDep1 mt0" style="margin-top: 65px;display: inline-block;margin-bottom: 0px;">장바구니 상품 <span class="count color01">(<em>{{ count }}</em>)</span></h3>
                    </div>
                    <div class="Hanyang_5" style="width: 150px; height: auto;">
                        <img src="/static/img/Hanyang/Hanyang_5.png" alt="Hanyang Logo" style="max-width: 100%; max-height: 100%; padding-left: 20px;">
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="prodFilter type2">
                        <span class="frmCheck">
                            <input type="checkbox" id="selectAllCheckbox" name="select_all" value="1" {% if select_all %}checked{% endif %}>
                            <label for="selectAllCheckbox">전체 선택</label>
                        </span>
                        <button type="submit" class="btnST btnT delete" name="action" value="delete_selected">선택 삭제</button>
                        <button type="submit" class="btnST btnT delete" name="action" value="delete_all">전체 삭제</button>
                    </div>
                    <!-- 장바구니 상품 목록 -->
                    <div class="cartBoard">
                        <table class="tblForm">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">상품명</th>
                                    <th scope="col">가격</th>
                                    <th scope="col">수량</th>
                                    <th scope="col">총 가격</th>
                                    <th scope="col">선택</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 장바구니에 추가된 각 상품을 반복하여 표시 -->
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td class="tdCheck">
                                        <span class="frmCheck ntxt">
                                            <input type="checkbox" id="CART{{ forloop.counter0 }}" name="cart_num" value="{{ cart_item.cart_id }}" {% if select_all or cart_item.id|stringformat:"s" in selected_items %}checked{% endif %}>
                                            <label for="CART{{ forloop.counter0 }}">선택</label>
                                        </span>
                                    </td>
                                    <td class="itmTarget">
                                        <a href="{% url 'vending_app:product_detail' cart_item.product.product_id %}" class="iLink">
                                            <div class="thum"><img src="{{ cart_item.product.product_image.url }}" alt="{{ cart_item.product.product_name }}" style="width: 100px; height: 100px;"></div>
                                            <div class="cont"><strong class="tit">{{ cart_item.product.product_name }}</strong></div>
                                        </a>
                                    </td>
                                    <td>{{ cart_item.product.product_price|intcomma }}원</td>
                                    <td>
                                        <span class="frmAmount">
                                            <form action="{% url 'vending_app:update_cart' cart_item.product.product_id -1 %}" method="post" style="display:inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="cart_qty" value="-1">
                                                <button type="submit" class="minus">수량 감소</button>
                                            </form>
                                            <input type="text" title="수량 직접입력" name="qty" value="{{ cart_item.cart_qty }}" class="numeric" maxlength="5" readonly>
                                            <form action="{% url 'vending_app:update_cart' cart_item.product.product_id 1 %}" method="post" style="display:inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="cart_qty" value="1">
                                                <button type="submit" class="plus">수량 증가</button>
                                            </form>
                                        </span>
                                    </td>
                                    <td>{{ cart_item.total_price|intcomma }}원</td>
                                    <td class="tdTools">
                                        <button type="button" class="btnST btnS action" name="btnDirectOrder">바로구매</button>
                                        <form action="{% url 'vending_app:delete_cart_item' cart_item.product.product_id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btnST btnS" name="btnItemDelete">삭제하기</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- 장바구니 총 금액 -->
                    <ul class="cartTotal">
                        <li>
                            <span class="txt">총 금액</span>
                            <span class="cost"><b id="totalProductPayment">{{ total_product_payment|intcomma }}</b>원</span>
                        </li>
                        <li>
                            <span class="txt">결제 금액</span>
                            <span class="cost"><b id="totalPayment">{{ total_payment|intcomma }}</b>원</span>
                        </li>
                    </ul>
                    <div class="cartBtns">
                        <div class="fleft"><a href="{% url 'vending_app:ProductList' %}" role="button" class="btnST btnL color">계속 쇼핑하기</a></div>
                        <button type="submit" name="action" value="select_buy" id="btnSelectItemBuy" role="button" class="btnST btnL other">선택상품 구매</button>
                        <button type="submit" name="action" value="all_buy" id="btnAllBuy" role="button" class="btnST btnL action">전체상품 구매</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('selectAllCheckbox').addEventListener('change', function(e) {
            var checkboxes = document.querySelectorAll('input[name="cart_num"]');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = e.target.checked;
            }
        });
    </script>
</body>
</html>
