{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/TopNav.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/p_common_2.css' %}" rel="stylesheet"> -->
    <title>상품 관리 페이지</title>
</head>
<body>
    
    <div class="headerArea">
        <div class="inner">
            <nav class="Nav">
                <div class="navbar_logo">
                    <i class="fa-solid fa-dog"></i>
                    <a href="{% url 'vending_app:admin' %}">
                        <img src="/static/img/Hanyang/Hanyang_main.png" alt="Hanyang Logo" style="width: 150px; height: auto; max-width: 100%; max-height: 100%; padding-left: 20px;">
                    </a>
                </div>
                <ul class="navbar_menu">
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </nav>   
        </div>
    </div>

    <div class="wrap">
        <div class="container">
            <div class="contents_product_list" >
                <div class="prodArea">
                    <ol id="itemList" class="itemList">
                        <table border="1" cellspacing="0">
                            <tr>
                                <th>유형</th>
                                <th>이름</th>
                                <th>수량</th>
                                <th>가격</th>
                                <th>id</th>
                                <th>img주소</th>
                                <th>삭제</th>
                                <th>수정</th>
                            </tr>
                        
                            {% for product in products %}
                            <tr>
                                <td>{{ product.product_flag }}</td>
                                <td>{{ product.product_name }}</td>
                                <td>{{ product.product_stock}}</td>
                                <td>{{ product.product_price}}</td>
                                <td>{{ product.product_id}}</td>
                                <td>{{ product.product_image}}</td>
                                <td>
                                    <form method="post" action="{% url 'vending_app:admin_product_delete' product.product_id %}">
                                        {% csrf_token %}
                                        <input type="submit" value="삭제">
                                    </form>
                                </td>
                                <td>
                                    <input type="button" value="수정" 
                                        onClick="location.href='{% url 'vending_app:admin_product_modify' product.product_id %}'">
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <br>                        
                        <input type="button" value="확인" onclick="location.href='admin'">           
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>